[submodule "plant"]
	path = public/projects/plant
	url = https://github.com/ka-thas/plant

[submodule "snake-js"]
	path = public/projects/snake-js
	url = https://github.com/ka-thas/snake-js

[submodule "nursery-website"]
	path = public/projects/nursery-website
	url = https://github.com/ka-thas/nursery-website

[submodule "electric-scooter-map"]
	path = public/projects/electric-scooter-map
	url = https://github.com/ka-thas/electric-scooter-map

[submodule "flashcards-v1"]
	path = public/projects/flashcards-v1
	url = https://github.com/ka-thas/flashcards-v1

[submodule "flashcards-v2"]
	path = public/projects/flashcards-v2
	url = https://github.com/ka-thas/flashcards

[submodule "boids"]
	path = public/projects/boids
	url = https://github.com/ka-thas/boids
